{% extends "base.html" %}

{% block content %}
<div class="center">
    <div class="about-div">
        <div class="center">
            <h4>About</h4>
        </div>
        <div class="center">
            <p>This project was created as part of a code challenge I did for Relias Learning.  
                All movie information comes from The Movie Database.</p>
        </div>
        <div class="center">
            <img class="tmdb-logo" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg">
        </div>
    </div>
</div>
{% endblock %}