{% extends "base.html" %}

{% block content %}

<div class="content-div flex-around">
    <div class="center">
        <div class="flex actor-detail">
            <img class="big-poster" src="{{actor.image}}">
            <div class="movie-info">
                <div class="flex-wrap">
                    <h2>{{actor.name}}</h2>
                    <a class="bio-movie-link" href="{% url 'star-movies' name=actor.name id=actor.tmdb_id %}">See their movies!</a>
                </div>
                {% if actor.biography %}
                <p>{{actor.biography}}</p>
                {% else %}
                <p>We're sorry.  There is no bio for this actor.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}