{% extends "base.html" %}

{% block content %}
<div class="content-div">
    <div class="flex-space">
        <h3>Welcome to Movie Search!  Here are today's most popular movies:</h3>
        <div class="flex pagination-buttons">
            <a class="favorites-link" href="{% url 'favorites' %}">Your Favorites</a>
            {% if previous %}
            <a href="{% url 'home' page=previous %}">Previous Page </a>
            {% endif %}
            {% if next and previous %}
            <span class="spacer">/</span>
            {% endif %}
            {% if next %}
            <a href="{% url 'home' page=next %}"> Next Page</a>
            {% endif %}
        </div>
    </div>
    <div class="flex-space">
    {% for item in movies %}
    {% include "movies/movie-pane.html" %}
    {% endfor %}
    </div>
</div>
{% endblock %}