{% extends "base.html" %}

{% block content %}

<div class="content-div flex-around">
    <div class="center">
        <div class="flex movie-detail">
            <img class="big-poster" src="{{movie.image}}">
            <div class="movie-info">
                <div class="flex-wrap">
                    <h2>{{movie.title}}</h2>
                    <p class="detail-year">({{movie.year}})</p>
                    <p>star</p>
                </div>
                <p>{{movie.overview}}</p>
                <div class="starring-div">
                    <h4>Starring:</h4>
                    {% for member in cast%}
                    <div class="star-spacer">
                        <a class="star-link" href="{% url 'star-movies' name=member.name id=member.cast_id %}">{{member.name}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}