{% extends "base.html" %}

{% block content %}

<div class="content-div flex-around">
    <div class="center">
        <div class="flex movie-detail">
            <img class="big-poster" src="{{movie.image}}">
            <div class="movie-info">
                <div class="flex-wrap">
                    <h2>{{movie.title}}</h2>
                    <p class="detail-year">({{movie.year}})</p>
                    {% if user.is_authenticated %}
                    <div class="star justify-right">
                        <a data-movieid="{{movie.tmdb_id}}" class="favorite-link toggler" href="#">
                            {% if is_favorite %}
                            &#x2605;
                            {% else %}
                            &#x2606;
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                </div>
                <p>{{movie.overview}}</p>
                <div class="starring-div">
                    <h4>Starring:</h4>
                    {% for member in cast%}
                    <div class="star-spacer">
                        <a class="star-link" href="{% url 'star-movies' name=member.name id=member.cast_id %}">{{member.name}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const toggler = document.querySelector(".toggler")
toggler.addEventListener("click", (e) => {
    e.preventDefault()
    const movieID = toggler.dataset.movieid
    fetch(`/movie/${movieID}/fave`, {
        method: 'POST'
    })
    .then(res => res.json())
    .then(data => {
        if (data.favorite) {
            toggler.innerHTML = "&#x2605;"
        } else {
            toggler.innerHTML = "&#x2606;"
        }
    })
})
</script>
{% endblock %}