{% extends "base.html" %}

{% block content %}

<div class="content-div">
    {% if not actors %}
    <div>
        <h4>We're sorry.  There were no actors that matched that query.  Please try again.</h4>
    </div>
    {% else %}
    <h3>Here are the actors that match "{{query}}":</h3>
    {% endif %}
    <div class="flex-wrap">
        {% for item in actors %}
        <a class="no-dec" href="{% url 'actor-detail' id=item.tmdb_id %}">
            <div class="actor-pane">
                <img class="actor-pic-small" src="{{ item.image }}">
                <div class="center">
                    <span class="title">{{ item.name }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}