{% extends "base.html" %}

{% block content %}
<div class="content-div">
    <div class="flex-space">
        <h3>Here are {{name}}'s most popular movies:</h3>
        <div class="flex pagination-buttons">
            {% if previous %}
            <a href="{% url 'star-movies' page=previous id=star_id name=name %}">Previous Page </a>
            {% endif %}
            {% if next and previous %}
            <span class="spacer">/</span>
            {% endif %}
            {% if next %}
            <a href="{% url 'star-movies' page=next id=star_id name=name %}"> Next Page</a>
            {% endif %}
        </div>
    </div>
    <div class="flex-space">
    {% for item in movies %}
    {% include "movies/movie-pane.html" %}
    {% endfor %}
    </div>
</div>
{% endblock %}