{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %} {% endblock meta %}
  <title>Movie Search</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-box">
      <div class="header-left">
        <div><a class="home-link" href="{% url 'home' %}"><h1>Movie Search</h1></a></div>
      </div>
      <div class="header-right v-center">
        <div>
          {% if user.is_authenticated %}
          <span class="welcome welcome-el">Welcome, {{user.username}}!</span>
          <a class="welcome-el" href="{% url 'auth_logout' %}">Logout</a>
          {% else %}
          <a class="welcome-el" href="{% url 'auth_login' %}">Login</a>
          <a class="welcome-el" href="{% url 'registration_register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </header>
  <div class="body-div">
    <div class="main-block">
        <div class="center">
            <div class="header-search flex">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'favorites' %}">Your Favorites</a>
                {% endif %}
                <form action="{% url 'search' %}" class="search-bar" method="get">
                    <div>
                    <input name="query" type="text" placeholder="Search movies...">
                    <button type="submit">Search movies!</button>
                    </div>
                </form>
                <form action="{% url 'search-actor' %}" class="search-bar" method="get">
                    <div>
                    <input name="query" type="text" placeholder="Search actors...">
                    <button type="submit">Search actors!</button>
                    </div>
                </form>
            </div>
        </div>
    {% block content %}
    {% endblock content %}
    </div>
  </div>
  {% block scripts %}
  {% endblock scripts %}
</body>